# ---------------------------------------------------
# Go 관련 파일
# ---------------------------------------------------

# 바이너리(실행 파일)
# go build로 생성된 파일은 추적하지 않습니다.
# *nix 및 Windows 바이너리 (예: my-go-project, my-go-project.exe)
!go.mod
!go.sum

# Go 테스트 캐시 파일 및 테스트 바이너리
# 테스트 실행 후 생성되는 캐시
*.test
*.out
/testing/

# Go 모듈 캐시 (다운로드된 의존성)
# go mod download로 다운로드되는 캐시
/pkg/

# 에디터나 환경 설정에서 생성되는 임시 파일 (선택 사항)
# 일반적으로 이 파일은 go run 시 생성되는 경우가 있습니다.
# 예를 들어, go run main.go
./a.out

# ---------------------------------------------------
# 의존성 관리
# ---------------------------------------------------

# 벤더 디렉토리 (Vendor Directory)
# Go 1.14 이후에는 기본적으로 추적하지 않지만, 명시적으로 추가합니다.
/vendor/

# ---------------------------------------------------
# OS 및 IDE 관련 파일
# ---------------------------------------------------

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux

# Windows
Thumbs.db
ehthumbs.db
[Dd]esktop.ini

# JetBrains 계열 IDE (GoLand, IntelliJ IDEA)
/.idea/
# 백업 및 캐시 파일
*.iml

# VS Code
/.vscode/

# Vim/NeoVim 백업 파일
*.swp

*.db
main
web/*
